
.formo2022-team-members {
  position: relative;
  width: 100%;
  background-color: var(--wp--preset--color--formo-blue);
  color: var(--wp--preset--color--formo-cream);
}
.formo2022-team-departments {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  overflow-x: scroll;
  margin-left: calc(-1 * var(--padding));
  padding: 0 var(--padding);
  width: 100vw;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding: 0 1rem;

  @media screen and (max-width: 782px) {
    justify-content: center;
  }
  
  &:-webkit-scrollbar {
    display: none;
  }
  
  & a {
    border: 1px solid;
    border-radius: 1em;
    font-size: 1.25rem;
    padding: .33em .75em;
    color: var(--wp--preset--color--formo-cream);
    cursor: pointer;
    white-space: nowrap;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

    @media screen and (min-width: 782.01px) {
      &:hover {
        padding: .33em 1.25em;
      }
    }
    
    @media screen and (max-width: 782px) {
      font-size: 1rem;
    }

    &[data-filter-active="true"] {
      background-color: var(--wp--preset--color--formo-cream);
      color: var(--wp--preset--color--formo-blue);
    }
  }
}
.formo2022-team-query-outer {
  width: var(--wp--custom--width--col-10);
  margin: 0 auto;
  overflow-x: hidden;
}
.formo2022-team-query {
  display: grid;
  grid-auto-flow: column;
  min-width: min-content;
  grid-template-rows: 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, 25%);
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.formo2022-teammember {
  aspect-ratio: 1;
  width: calc(var(--wp--custom--width--col-10) / 4);
  padding: 1em;
  height: auto;
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  overflow: hidden;  
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) .2s both;

  @media screen and (max-width: 782px) {
    width: calc(var(--wp--custom--width--col-10) / 2);
    padding: 0.5em;
  }
  
  & figure {
    position: absolute;
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    overflow: hidden;
    display: block;
    margin: 0;
    border-radius: 1rem;
    
    @media screen and (max-width: 782px) {
      width: calc(100% - 1em);
      height: calc(100% - 1em);
    }
    
    & img, & video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &[data-department-hidden="true"] {
    display: none;
    opacity: 0;
  }

  & .formo2022-teammember-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    z-index: 9999;
    text-align: center;
    opacity: 0;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  
    & .formo2022-teammember-fullname {
      font-size: calc(1.2 * var(--wp--preset--font-size--large));
      transform: translateY(10px) scale(0.9);
      transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
      margin-bottom: 0;
    }
    & .formo2022-teammember-description p {
      transform: translateY(-10px) scale(0.9);
      transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);
      margin: 0.5em 0 0 0;
    }
  }
  @media screen and (max-width: 782px) {
    & .formo2022-teammember-content {
      background-color: transparent;
      opacity: 1;
      transform: translate(0) scale(1);
      position: relative;
      padding: .5rem;
      
      &:before {
        content: '';
        background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0, 0, 0, .5) 60%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
      }

      & .formo2022-teammember-fullname {
        font-size: var(--wp--preset--font-size--body);
        transform: translateY(0) scale(1);
      }
      & .formo2022-teammember-description p {
        font-size: var(--wp--preset--font-size--small);
        line-height: 1.1;
        transform: translateY(0) scale(1);
      }
    }
  }
  &:hover .formo2022-teammember-content {
    background-color: transparent;
    opacity: 1;
    position: relative;
    
    &:before {
      content: '';
      background-image: linear-gradient(rgba(0,0,0,0) 0%, rgba(0, 0, 0, .5) 60%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
    }
  
    & .formo2022-teammember-fullname {
      transform: translateY(0) scale(1);
    }
    & .formo2022-teammember-description p {
      transform: translateY(0) scale(1);
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.formo2022-team-next, .formo2022-team-prev {
  position: absolute;
  top: calc(50% + 1.5rem);
  transform: translateY(-50%);
  left: calc(var(--wp--custom--width--col-1) - 1.2rem);
  background-color: var(--wp--preset--color--formo-blue);
  border: 1px solid;
  border-radius: 1rem;
  padding: 0em 1.2rem;
  color: var(--wp--preset--color--formo-cream);
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: -100%;
}
.formo2022-team-prev {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='12' viewBox='0 0 6 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6.13867L5.25434 1.418' stroke='%23FFFBF4' stroke-linecap='round'/%3E%3Cpath d='M5.25391 10.8613L0.999564 6.14065' stroke='%23FFFBF4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
}
.formo2022-team-next {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='11' viewBox='0 0 6 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.25391 5.54688L0.999564 0.832029' stroke='%23FFFBF4' stroke-linecap='round'/%3E%3Cpath d='M1 10.2637L5.25434 5.54883' stroke='%23FFFBF4' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  left: auto;
  right: calc(var(--wp--custom--width--col-1) - 1.2rem);;
}